{{#extend "layout" title="Sing App Dashboard - Maps Google"}}
    {{#content "sidebar"}}
        {{> sidebar active="maps_google"}}
    {{/content}}
    {{#content "content" mode="replace"}}
        <div id="gmap" class="content-map">
        </div>
        <h1 class="page-title">Google <span class="fw-semi-bold">Maps</span></h1>
        <div class="content-map-controls">
            <div class="btn-group btn-group-sm">
                <button class="btn btn-inverse" id="gmap-zoom-in"><i class="fa fa-plus"></i></button>
                <button class="btn btn-inverse" id="gmap-zoom-out"><i class="fa fa-minus"></i></button>
            </div>
        </div>
    {{/content}}
    {{#content "scripts"}}
        <script src="https://maps.google.com/maps/api/js?sensor=true&key=AIzaSyBhOdIF3Y9382fqJYt5I_sswSrEw5eihAA"></script>
        <script src="../node_modules/gmaps/gmaps.js"></script>

        <!-- page specific js -->
        <script src="js/gmap.js"></script>
    {{/content}}
{{/extend}}